body{
margin:0;
}
.container {
  width:100%;
  margin:auto;
  overflow:hidden;
}
#highlight {
    color:green;
    font-family:Serif, Sans-serif,       monospace, cursive, fantasy;
    font-weight:bold;
    text-align:center;
    text-shadow:4px 4px 4px blue;
}
#ht second {
    color:green;
    font-family:Serif, monospace, cursive, fantasy;
    font-weight:bold;
}
#headbelow {
    color:;
    font-face:cursive;
    font-weight:italic;
    text-align:center;
    font-size:20px;
    text-shadow:4px 4px 4px blue;
}
.para {
    border:1px solid yellow;
    padding:6px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align:center;
}
li {
    text-align: center;
  border-bottom: 2px solid navy;
}
li a {
  display: block;
  color:#ff001fdd;
  padding: 8px 6px;
  text-decoration: none;
  text-shadow:4px 2px 4px blue;
}
li:last-child {
  border-bottom: 2px inline white;
}
li a:hover {
  background-color: #ff9d00;
  color: #00ffea;
}
.active {
  background-color: #04AA6D;
  color:#00ffea;
}
li a.active {
  background-color: #04AA6D;
  color: ;
}

li a:hover:not(.active) {
  background-color: #555;
  color: ;
}
figure {
    border:4px #55acff solid;
    padding:;
    margin:auto;
}
#figo {
    background-color:black;
    display:block;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
#pico {
    width:100%;
    max-width:100%;
    min-width:auto;
    margin-top:;
}
#figall {
	background-color:black;
    display:block;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
	   width:50%;
}
#picgall {
	   width:50%;
    max-width:100%;
    min-width:auto;
}
.navbar {
  overflow: hidden;
  background-color: #5000ff;
  position: fixed;
  top: 0;
  width: 100%;
  border:solid;
}  
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding:12px 6px;
  text-decoration: none;
  font-size: 8px;
}
.navbar a:hover {
  background: #7d63ee;
  color: b.navbar {
  overflow: hidden;
  background-color: #ff9340;
  position: fixed;
  top: 0;
  width: 100%;
.navbar a {
  float: left;
  display: block;
  color: #00ff18;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 8px;
}
.right {
    text-align:right;
}
.main {
    margin-top:50px;
    padding:16px;
}
.headfirst {
    text-decoration:underline;
    text-align:center;
    font-size:38px;
	}
	
